<h1> WORKKK PLEASE WORKKK</h1>
<!DOCTYPE html>
<html>
  <head>
    
    <title>Kwick Kwiz</title>
    <link rel= "stylesheet" 
         href="public/css/style.csss">
  </head>
  
  <form method=POST">
  <body>
    <h3>What type of data structuree are you?</h3>
    <input type="radio" name="response1" value="array"> Arrays
    <br>
    <input type="radio" name="response1" value="hash"> Hashes
    
    
    <h3>Pancakes or Waffles?!</h3>
    <input type="radio"name="response2" value="pancakes">Pancakes
    <br>
    <input type="radio"name="response2" value="waffles">Waffles>
    <br>
    <br>
    <input type="submit" value="Click if you dare...">
   </form> 
  </body>
</html>
  